<link type='text/css' rel='stylesheet' href='/css/header.css'>
<div class="header">
    <a href="#default" class="logo">Call e<h1 style='display: inline;'>X</h1>pert</a>
    <div class="header-right">
      <a class="active" href="#home">Home</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <%if(locals.user){%>
        <a href='/user/searchpage'>Search Expert</a>
        <a href='/expert/updatepage'>Update Profile</a>
        <a href='/auth/signout'>Sign Out</a>
      <%}else{%>
        <a href='/auth/signinexpert'>Sign In</a>
        <a href='/auth/signupexpert'>Sign Up</a>
      <%}%>
    </div>
    
  </div>