 <!-- Header -->
 <link href="/css/main.css" rel="stylesheet">
 <header id="header">
    <div class="inner">
        <a class="logo" href="index.html"><h2><strong>Call eXpert</strong></h2>  </a>
        <nav id="nav">
            <a href="index.html">Home</a>
            <a href="generic.html">Generic</a>
            <a href="elements.html">Elements</a>
        </nav>
        <a class="navPanelToggle" href="#navPanel"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>Welcome to Call eXpert</h1>
        </header>

        <div class="flex ">

            <div>
                <span class="icon fa-search"></span>
                <h3>Search</h3>
                <p>Search for professionals</p>
            </div>

            <div>
                <span class="icon fa-phone"></span>
                <h3>Connect</h3>
                <p>Call them directly without any mediator</p>
            </div>

            <div>
                <span class="icon fa-user"></span>
                <h3>Job</h3>
                <p> Post your skills to find job </p>
            </div>

        </div>

        <footer>
            <a class="button" href="/auth/signin">Log In</a>
        </footer>
    </div>
</section>


<!-- Three -->
<section class="wrapper align-center" id="three">
    <div class="inner">
        <div class="flex flex-2">
            <article>
                <div class="image round">
                    <img alt="Pic 01" style='width:200px;height:200px' src="/images/pic01.jpg">
                </div>
                <header>
                    <h3>Search Experts</h3>
                </header>
                <p>Search for diferrent experts whom you need to find in your area</p>
                <footer>
                    <a class="button" href="/user/">Search for Professionals</a>
                </footer>
            </article>
            <article>
                <div class="image round">
                    <img alt="Pic 02" style='width:200px;height:200px' src="/images/pic02.jpg">
                </div>
                <header>
                    <h3>Find a work</h3>
                </header>
                <p> Post your skills and get connected to those who need you in your area</p>
                <footer>
                    <a class="button" href="/expert/">Expert Login</a>
                </footer>
            </article>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">

        <h3>As this site is in development mode we need your suggestions </h3>

        <form action="#" method="post">

            <div class="field half first">
                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="Name">
            </div>
            <div class="field half">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" placeholder="Email">
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" placeholder="Message" rows="6"></textarea>
            </div>
            <ul class="actions">
                <li><input class="button alt" type="submit" value="Send Message"></li>
            </ul>
        </form>

        <div class="copyright">
            © Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
        </div>

    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>


<div id="navPanel" style="-ms-overflow-style: -ms-autohiding-scrollbar;">
            <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" href="index.html">Home</a>
            <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" href="generic.html">Generic</a>
            <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" href="elements.html">Elements</a>
        <a class="close" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" href="#navPanel"></a></div>