<%if(locals.expert){%>

    
    <div id='outer'>
    
        <div id='container'>
            <form action='/auth/createexpert' method='post'>
                <h1 style='color:white'> Profile</h1>
                <div class='input'>
                    <div id='profile-pic' style='width:200px ; height:200px'>
                        <img src=''>
                    </div>
                </div>
                <div class='input'>
                    <i class="fas fa-user"></i>
                    <input name='name' placeholder="Username" type='text' >
                </div>
            <div class='input'>
                <i class="fas fa-at"></i>
                <input name='email' Placeholder='Email' type='email' >
            </div>
            <div class='input'>
                <i class="fas fa-phone"></i>
                <input name='phone' placeholder="Phone Number" type='text' >
            </div>
            <div class='input'>
                 
                <i class="fas fa-key"></i></i> <input type='password' placeholder='change password' name='password'>
            </div> 
            <div class='input'>
                 
                <i class="fas fa-key"></i><input placeholder='confirm change password' type='password'  name='re_password'>
            </div> 
            <div class='input'>
                <i class="fas fa-marker"></i>
                <input name='location' placeholder='City' type='text' >
            </div>
            <div class='input'>
                <i class="fas fa-user"></i>
                <input name='pin' placeholder='City Pincode' type='text' >
            </div>
            <div class='input'>
                <i class="fas fa-geo"></i>
                <select name='field' >
                    <option>Select</option>
                    <option> Maid </option>
                    <option> Cook</option>
                    <option> Nurse  </option>
                    <option> Electronic </option>
                    <option>Carpenter</option>
                    <option>Painter</option>
                    <option>Plumber</option>
                    <option>Driver</option>
                </select>
            </div>
            <div class='input inline'><button>Update</button></div>
        </form>




<%}%>
